/.vscode
/venv
/__pycache__

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
venv/


.vscode/
# Byte-compiled / optimized / DLL files
__pycache__/

*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/




/ko/csharp_dotnet/.vs
/ko/csharp_dotnet/1-Echobot/bin/Debug/net8.0
/ko/csharp_dotnet/1-Echobot/obj
/ko/csharp_dotnet/2-WelcomeUser/obj
/ko/csharp_dotnet/AzureOpenAIBot/appsettings.local.json
/ko/csharp_dotnet/8-AzureOpenAIBot/obj
/ko/csharp_dotnet/8-AzureOpenAIBot/appsettings.local.json
/ko/csharp_dotnet/8-AzureOpenAIBot/appsettings.local.Development.json
